/*导航栏*/
header {
    width: 100%;
    margin: auto;
    background-color: rgb(40,40,48);
    z-index: 1001;
    position: relative;
}

/*logo*/
.logo {
    width: 180px;
}

/*公司名*/
.company_name {
    color: #fff;
    line-height:90px;    /*撑起导航栏高度*/
}
/*导航栏选项居右*/
.nav {
    background-color: rgb(40,40,48);
}

.nav li a {
    margin: 0 !important;
}

/*导航栏选项收起后对齐*/
.showhide {
    margin-left: 20px !important;
    margin-top: 15px !important;
}

/*企业服务下四大版块*/
.service-nav {
    position: relative;
}

.subservice-nav {
    width: 140px;
    background-color: rgb(40,40,48);
    display: none;
    position: absolute;
}

.subservice-nav li {
    border-top: 1px solid grey;
}

.subservice-nav li a {
    color: #fff !important;
    line-height: 50px !important;
    padding-left: 20px;
}

.subservice-nav li:hover {
    background-color: rgb(11,144,196);
}

.service-nav:hover .subservice-nav {
    display: block;
}

.subservice-nav:hover .service-nav a {
    color: #0B90C4 !important;
}

/*展子导航栏*/
.wisdom-nav, .zhan-nav, .ce-nav, .educate-nav {
    width: 180px;
    background-color: rgb(40,40,48);
    border-left: 1px solid rgb(40,40,48);
    text-align: center;
    display: none;
}

.wisdom-nav {
    position: absolute;
    top: 0;
    left: 140px;
}

.zhan-nav {
    position: absolute;
    top: 51px;
    left: 140px;
}

.ce-nav {
    position: absolute;
    top: 101px;
    left: 140px;
}

.educate-nav {
    position: absolute;
    top: 51px;
    left: 140px;
}

.wisdom-nav li a, .zhan-nav li a, .ce-nav li a, .educate-nav li a {
    font-size: 14px;
    padding-left: 0;
}

.wisdom:hover .wisdom-nav {
    display: block;
}

.zhan:hover .zhan-nav{
    display: block;
}

.ce:hover .ce-nav {
    display: block;
}

.educate:hover .educate-nav {
    display: block;
}

/*content*/

/*首页内容*/
/*视频背景*/
.video {
    object-fit: fill;
    width:100%;
    position: absolute;
    top:0;
}

/*了解更多*/
.cover-video-more {
    width: 200px;
    height: 40px;
    color: #1c2b36;
    margin: auto;
    border: 2px solid #0B90C4;
    position: relative;
    top: 78%;
}

/*向下图标*/
.down {
    width: 70px;
    height: 70px;
    opacity: 0.6;
    display: block;
    margin: auto;
    position: relative;
    top: 72%;
    animation: down 1.2s infinite linear ;
}

@keyframes  down {
    0% {
        top: 77%;
    }
    50% {
        top: 79%;
    }
    100% {
        top: 77%;
    }
}

@-webkit-keyframes  down {
    0% {
        top: 77%;
    }
    50% {
        top: 79%;
    }
    100% {
        top: 77%;
    }
}

@-moz-keyframes  down {
    0% {
        top: 77%;
    }
    50% {
        top: 79%;
    }
    100% {
        top: 77%;
    }
}

@-o-keyframes  down {
    0% {
        top: 77%;
    }
    50% {
        top: 79%;
    }
    100% {
        top: 77%;
    }
}

/*隐藏模板左右切换按钮*/
.tp-leftarrow, .tp-rightarrow {
    display: none;
}

/*核心服务图片*/
.article_core1, .article_core2, .article_core3, .article_core4 {
    opacity: 0;
}

.icon_box {
    text-align: center;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon_box:hover {
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.4);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.4);
    box-shadow: 0 0 8px rgba(0,0,0,.4);
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.icon_box:hover:after {
    opacity: 1;
}

/*核心业务文字*/
.core-modul {
    text-align: center;
}

.core-modul p {
    padding: 20px 0 10px;
    font-size: 18px;
    color: #000;
}

/*联系方式版块*/
#connect-us {
    width: 260px;
    margin: auto;
    margin-top: 60px;
}

.contact-info {
    text-align: center;
    background-color: rgba(255,255,255,.2);
}

#connect-us li {
    margin-bottom: 27px;
    font-weight: 500;
}

#connect-us span {
    color: #fff;
}

/*联系方式版块背景图*/
.under_bgimg {
    width: 100%;
    height: 446px;
    background-image: url('../img/bgimg/index.jpg');
}